.infoBodyBg{
    background: url("../../assets/Background/white-abstract-background_23-2148809723.avif");
    background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}