.updateInfoBg {
    background:linear-gradient(to left, #3a3f60a4, #3a3f60a4), url("../../assets/Background/white-with-low-poly-network-connection_1017-29753.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}